*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
.container{
    width: 80%;
    margin: 3em auto;
}
li{
    width: calc(100% / 3);
    list-style-type: none;
    padding: 1.3em;
    text-align: center;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #af4448;
}
h3{
    font-size: 1.8em;
}
.info{
    margin-top: -6px;
    padding: .5em;
    background-color: #9e9e9e;
}